{% extends "base.html" %}

{% block title %}Analysis Toolbox for &OpenCurlyQuote;{{ html_analysis.title }}&CloseCurlyQuote;{% endblock %}

{% block content %}

    <h2>Analysis Toolbox for &OpenCurlyQuote;{{ html_analysis.url }}&CloseCurlyQuote;</h2>
    <p>Link: <a href="{{ html_analysis.url }}">{{ html_analysis.title }}</a></p>
    <p>The following tools are available:</p>

    <ul>
        <li><a href="{{ url_for('links_analysis_outgoing', url=html_analysis.url) }}">Links out</a></li>
        <li>Domain analysis</li>
        <li>Links in</li>
        <li>People</li>
        <li>freshness measure (date of publication)</li>
        <li>fake news detector (hoaxes)</li>
        <li>extracted entity and topic links (people, topics)</li>
        <li>originality checks (following the trail of the information)</li>
        <li>check against fact-checking sites (e.g., [FactCheck.org](http://www.factcheck.org/),
            [Snopes.com](http://snopes.com/),
            [skepticalscience.com](http://skepticalscience.com/))
        </li>
        <li>check against reference sites (general as well as domain-specific, e.g., [The Skeptic's
            Dictionary](http://www.skepdic.com/)
        </li>
        <li>verify quotes</li>
        <li>check sources</li>
    </ul>

{% endblock %}


{% block scripts %}
{% endblock %}
