<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} - The Skeptical Toolbox{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
</head>
<body>

{% block content %}
{% endblock %}


<hr>
<footer>
    <div align="center">&copy; 2015 Matthew Cornell | <a href="http://www.matthewcornell.org/contact/">Contact</a></div>
</footer>


<!-- base scripts -->

<script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>


<!-- include javascript from child template pages. goes here because we need jquery loaded first, which should be done
as the last thing in <body> for performance reasons. -->

{% block scripts %}
{% endblock %}


</body>
</html>